[tool.poetry]
name = "psytican-bot"
version = "0.2.5"
description = "Psytican Helper bot"
authors = ["Igor I Shatunov <genesis@psytican.com>"]
license = "MIT"
readme = "README.md"
packages = [ {include = "src"}, ]

[tool.poetry.scripts]
psytican-bot = "src.main:main"

[tool.poetry.dependencies]
python = "^3.12"
google-api-python-client = "^2.123.0"
google-auth-httplib2 = "^0.2.0"
google-auth-oauthlib = "^1.2.0"
python-telegram-bot = {extras = ["job-queue"], version = "^21.5"}
pydantic = "^2.9"
pydantic-settings = {extras = ["yaml"], version = "^2.5"}
pydantic-settings-vault = "^2.0.0"
furl = "^2.1.3"
oauth2client = "^4.1.3"
fastapi = "^0.115"
uvicorn = "^0.29.0"
starlette-prometheus = "^0.9.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.1.1"
flake8 = "^7.0.0"
mypy = "^1.9.0"
isort = "^5.13.2"
black = "^24.3.0"
pre-commit = "^3.7.0"
pytest-asyncio = "^0.24.0"
pylint = "^3.2.7"
pytest-cov = "^5.0.0"
python-semantic-release = "^9.11.0"
pybump = "^1.12.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
assets = []
build_command = """
    pip install poetry==1.4.2 pybump \
    && poetry build \
    && pybump bump --file chart/Chart.yaml --level patch
"""
build_command_env = []
commit_message = "{version}\n\nAutomatically generated by python-semantic-release"
commit_parser = "angular"
logging_use_named_masks = false
major_on_zero = true
allow_zero_version = true
no_git_verify = false
tag_format = "{version}"
version_toml = ["pyproject.toml:tool.poetry.version"]
version_variables = [
    "chart/Chart.yaml:appVersion",
    "chart/values.yaml:tag",
]

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease = false

[tool.semantic_release.branches.release]
match = "release/"
prerelease_token = "rc"
prerelease = true

#[tool.semantic_release.branches.cicd]
#match = "(cicd)"
#prerelease_token = "alpha"
#prerelease = true

[tool.semantic_release.changelog.default_templates]
changelog_file = "CHANGELOG.md"
output_format = "md"
exclude_commit_patterns = []
mode = "init"
insertion_flag = "<!-- version list -->"
template_dir = "templates"

[tool.semantic_release.changelog.environment]
block_start_string = "{%"
block_end_string = "%}"
variable_start_string = "{{"
variable_end_string = "}}"
comment_start_string = "{#"
comment_end_string = "#}"
trim_blocks = false
lstrip_blocks = false
newline_sequence = "\n"
keep_trailing_newline = false
extensions = []
autoescape = false

[tool.semantic_release.commit_author]
env = "GIT_COMMIT_AUTHOR"
default = "semantic-release <semantic-release>"

[tool.semantic_release.commit_parser_options]
allowed_tags = ["build", "chore", "ci", "cicd", "docs", "feat", "feature", "fix", "perf", "style", "refactor", "test"]
minor_tags = ["feat", "feature"]
#patch_tags = ["fix", "perf", "cicd"]
patch_tags = ["fix", "perf"]
default_bump_level = 0

[tool.semantic_release.remote]
name = "origin"
type = "github"
ignore_token_for_push = false
insecure = false

[tool.semantic_release.publish]
dist_glob_patterns = ["dist/*", "psytican-bot-*.tgz"]
upload_to_vcs_release = true
